:root {
  --highlight-color-1: #a4201d;
  --highlight-color-2: #12719e;
  --highlight-color-3: #55b748;
  --sidebar-color: #e88e2d;
  --darkest-color: #000;
  --darker-color: #282c34;
  --lighter-color: #f0f0ed;
  --lightest-color: #fff;
  --test-color: #ca5800;
}

:root {
  --fixed-font: "Inconsolata";
  --variable-font: "Open Sans";
  --condensed-font: "Open Sans Condensed";
}

body {
 color:var(--darkest-color);
 background-color:var(--lightest-color);
 font-family: var(--variable-font),sans-serif;
 font-size: 1em;
 margin:0
}
div {
 display:block
}
.center-text {
 text-align:center
}
.uppercase {
 text-transform: uppercase
}
.condensed-font {
 font-family: var(--condensed-font),sans-serif;
}

a {
 text-decoration:none;
 color:var(--highlight-color-2);
}
a:hover {
 color:var(--highlight-color-2);
 border-bottom:1px solid var(--highlight-color-2)
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family:var(--condensed-font),sans-serif;
 line-height: 1em;
}
h1 {font-size:2.2em}
h2 {font-size:1.9em}
h3 {font-size:1.6em}
h4 {font-size:1.3em}
h5 {font-size:1.1em}
h6 {font-size:1em}
@media screen and (max-width:48em) {
    h1 {font-size:2em}
    h2 {font-size:1.8em}
    h3 {font-size:1.5em}
    h4 {font-size:1.2em}
    h5 {font-size:1em}
    h6 {font-size:1em}
}

code {
    background: var(--lighter-color); 
    font-family: var(--fixed-font), monospace;
}
pre, pre code {
  background: var(--lighter-color); 
  font-family: var(--fixed-font), monospace;
  color: var(--lighter-color);
  font-size:0.85em;
  width: inherit;  
  max-width: 100%; 
  height: auto;   
  padding:8px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: block;
  overflow: auto;
  -webkit-text-size-adjust:none
}

img {
  max-width: 100%; 
  height: auto;   
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 100%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0; 
}


blockquote{
  font-size: 1em;
  width: 90%;
  margin: 1em auto;
  font-family: inherit;
  color: var(--darkest-color);
  padding: 0.1em 0em 0.1em 2em;
  border-left: 2px solid var(--highlight-color-2) ;
  position: relative;
  background:var(--lighter-color);
}

table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th,td {
    padding: 5px;
}


hr {
 border:0;
 width: 100%;
 border-top:1px solid var(--highlight-color-2);
 position: relative;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

#footer {
    text-align:center;
    position:absolute;
    bottom:0;
    width:100%;
    height:3em;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#layout {
    padding: 0;
}

.sidebar {
    background: var(--darker-color);
    color: var(--lighter-color);
    font-family: var(--condensed-font), sans-serif;
    font-size: 1em;
}
.sitename {
    font-family: var(--condensed-font), sans-serif;
    font-size: 1.3em;
    padding: 0.5em 0em 0.0em 0em;
    color: var(--sidebar-color);
}
.sidebar table {
    padding: 1em 0em 0em 0em;
}
.sidebar table th {
    text-align:left;
}
.sidebar hr {
    width: 100%;
    border-top: 1px solid var(--lighter-color);
}

.sidebar a {
  /*  font-weight: normal; */
    color: var(--sidebar-color);
    border: 0;
}
.sidebar a:hover {
    border-bottom:1px solid var(--sidebar-color);
}
		      
.sidebar li a, .sidebar .toc a {
    color: var(--sidebar-color);
}
.sidebar li a:hover, .sidebar .toc a:hover {
    border-bottom:1px solid var(--sidebar-color);
}

.sidebar-content {
    margin: 4%;
    width: 95%;
    padding: 0.4em;
    font-size: 1em;
}

.sidebar ul {
    padding: 0.3em 0.0em 0.3em 1.0em;
    text-align: left;
    list-style-type:none; 
    font-size: 90%;
}

nav#sidebar {
    display: block;
    height: 90%;
    overflow-y: auto;
}

.toc {
    font-size: 0.9em;
}


@media screen and (min-width: 48em) {
    .sidebar {
           position: fixed;
           top: 0;
           bottom: 0;
       }
}

@media screen and (min-width: 48em) {
    .phone-header {
        display: none;
    }
}
@media screen and (max-width:48em) {
    .sidebar {
        display:none
    }
    .phone-header {
        display: block;
        text-align: center;
        background: var(--darker-color);
        color: var(--lighter-color);
        min-height: 3.5em;
        position: relative;
        padding: 1em;
        font-size: 1em;
        font-family: var(--condensed-font), sans-serif;
    }
    .phone-header a {
        color: var(--sidebar-color);
        font-weight: normal;
        border: 0;
    }
}

@media screen and (min-width: 48em) {
    .content {
        padding: 1em 3.5em 0 3.5em;
        margin-left: 20%;
        width: 50%;
    }
}
@media screen and (max-width:48em) {
    .content {
        padding: 2em 1em 0 1em;
    }
}
.content p {
    text-align: none;
}

@media screen and (max-width:48em) {
      .article-title {
          word-wrap: break-word;
          font-family: var(--condensed-font);
      }
  }

@media print {
     .content {
        padding: 1em 3.5em 0 3.5em;
        margin-left: 0%;
        width: 70%;
     }
    .sidebar      { display: none  }
    .phone-header { display: none  }
    .aside       { display: block }
    .citation     { display: block }
}

.article-information {
    font-family: var(--condensed-font), sans-serif;
}
.article-information-heading {
    font-family: var(--condensed-font), sans-serif;
    color: var(--darker-color);
}

.list-of-tags {
    font-family: var(--condensed-font), sans-serif;
    list-style: none;
    margin: 0;
    overflow: hidden;
}
.list-of-tags li {
    float: left;
    line-height: 1.5em;
    margin: 0;
}
.list-of-tags a {
    background: var(--highlight-color-3);
    border-radius: 3px;
    color: var(--darker-color);
    margin: 2px;
    padding: 0.1em 0.4em;
    text-decoration: none;
}
.list-of-tags a span {
    font-size: 0.8em;
    vertical-align: super;
}

.body {
    counter-reset: citation-counter;
}
.citation,
.aside {
    float: right;
    clear: right;
    margin-right: -55%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 80%;
    font-family: var(--variable-font), sans-serif;
    vertical-align: baseline;
    position: relative; 
}
.citation-number {
    counter-increment: citation-counter;
}
.citation-number:after,
.citation:before {
    font-family: var(--fixed-font), monospace;
    color: var(--test-color);
    position: relative;
    vertical-align: baseline; 
}
.citation-number:after {
    content: counter(citation-counter);
    font-size: 100%;
    top: -0.2em;
}
.citation:before {
    content: counter(citation-counter);
    font-size: 100%;
    top: -0.2em; 
}
blockquote .citation,
blockquote .aside {
    margin-right: -82%;
    min-width: 59%;
    text-align: left; 
}
.aside hr {
  color: var(--highlight-color-1);
}
label.citation-number {
    display: inline; 
}
label.cite-toggle:not(.citation-number) {
    display: inline; 
}
input.cite-toggle {
    display: none; 
}
label.citation-number {
    display: inline; 
}
@media screen and (max-width:48em) {
    label.cite-toggle:not(.citation-number) {
        display: inline; 
    }
    .citation {
        display: none; 
    }
    .aside {
       display: block;
       float: none;
       width: 90%;
       margin: 2em 5%;
       clear: both;
    }
    .cite-toggle:checked + .citation {
        display: block;
        float: left;
        clear: both;
        width: 90%;
        margin: 2em 5%;
        vertical-align: baseline;
        position: relative; 
    }
    label {
        cursor: pointer; 
    }
    
}

