<hr>
Weekly schedule
<div id="sidebar-links">
<small>


<table style="width:90%">
<tr>
<td> w00: intro </td>
<td> <a href="/w00/w00-lecture.html">lecture </a> </td>
<td> </td>
<td> <a href="/w00/w00-section.html">section</a> </td>
<td> </td>
</tr>

<tr>
<td> w01: genes </td>
<td> <a href="/w01/w01-lecture.html">lecture </a> </td>
<td> <a href="/w01/w01-homework.html">pset</a> </td>
<td> <a href="/w01/w01-section.html">[py]</a>
     <a href="/w01/w01-section-molbio.html">[molbio]</a> </td>
<td> <a href="/w01/w01-answers.html">answers</a> </td>
</tr>

<tr>
<td> w02: kallisto </td>
<td> <a href="/w02/w02-lecture.html">lecture </a> </td>
<td> <a href="/w02/w02-homework.html">pset</a> </td>
<td> <a href="/w02/w02-section.html">section</a> </td>
<td> <a href="/w02/w02-answers.html">answers</a> </td>
</tr>

<tr>
<td> w03: dataviz </td>
<td> <a href="/w03/w03-lecture.html">lecture </a> </td>
<td> <a href="/w03/w03-homework.html">pset</a> </td>
<td> <a href="/w03/w03-section.html">section</a> </td>
<td> <a href="/w03/w03-answers.html">answers</a> </td>
</tr>

<tr>
<td> w04: probability </td>
<td> <a href="/w04/w04-lecture.html">lecture </a> </td>
<td> <a href="/w04/w04-homework.html">pset</a> </td>
<td> <a href="/w04/w04-section.html">section</a> </td>
<td> <a href="/w04/w04-answers.html">answers</a> </td>
</tr>

<tr>
<td> w05: kmeans </td>
<td> <a href="/w05/w05-lecture.html">lecture </a> </td>
<td> <a href="/w05/w05-homework.html">pset</a> </td>
<td> <a href="/w05/w05-section.html">section</a> </td>
<td> <a href="/w05/w05-answers.html">answers</a> </td>
</tr>

<tr>
<td> w06: p-values </td>
<td> <a href="/w06/w06-lecture.html">lecture </a> </td>
<td> <a href="/w06/w06-homework.html">pset</a> </td>
<td> <a href="/w06/w06-section.html">section</a> </td>
<td> <a href="/w06/w06-answers.html">answers</a> </td>
</tr>

<tr>
<td> w07: DGEA </td>
<td> <a href="/w07/w07-lecture.html">lecture </a> </td>
<td> <a href="/w07/w07-homework.html">pset</a> </td>
<td> <a href="/w07/w07-section.html">section</a> </td>
<td> <a href="/w07/w07-answers.html">answers</a> </td>
</tr>

<tr>
<td> w08: regression </td>
<td> <a href="/w08/w08-lecture.html">lecture </a> </td>
<td> <a href="/w08/w08-homework.html">pset</a> </td>
<td> <a href="/w08/w08-section.html">section</a> </td>
<td> <a href="/w08/w08-answers.html">answers</a> </td>
</tr>

<tr>
<td> w09: EM </td>
<td> <a href="/w09/w09-lecture.html">lecture </a> </td>
<td> <a href="/w09/w09-homework.html">pset</a> </td>
<td> <a href="/w09/w09-section.html">section</a> </td>
<td> <a href="/w09/w09-answers.html">answers</a> </td>
</tr>

<tr>
<td> w10: NMF </td>
<td> <a href="/w10/w10-lecture.html">lecture </a> </td>
<td> <a href="/w10/w10-homework.html">pset</a> </td>
<td> <a href="/w10/w10-section.html">section</a> </td>
<td> <a href="/w10/w10-answers.html">answers</a> </td>
</tr>

<tr>
<td> w11: PCA </td>
<td> <a href="/w11/w11-lecture.html">lecture </a> </td>
<td> <a href="/w11/w11-homework.html">pset</a> </td>
<td> <a href="/w11/w11-section.html">section</a> </td>
<td> <a href="/w11/w11-answers.html">answers</a> </td>
</tr>

<tr>
<td> w12: work </td>
<td> <a href="/w12/w12-lecture.html">lecture </a> </td>
<td> <small> n/a </small> </td>
<td> <small> n/a </small> </td>
<td> <small> n/a </small> </td>
</tr>

<tr>
<td> w13: t-SNE </td>
<td> <a href="/w13/w13-lecture.html">lecture </a> </td>
<td> <a href="/w13/w13-homework.html">pset</a> </td>
<td> <a href="/w13/w13-section.html">section</a> </td>
<td> <a href="/w13/w13-answers.html">answers</a> </td>
</tr>

</table>
</small>
</div>